.forgot-password-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 150px); /* Adjust for navbar and footer combined height */
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background:linear-gradient(to bottom right,#000000,#737373);
  
}
.success-message{
  color: rgb(4, 89, 4);
}


@keyframes slideIn {
  from {
      transform: translateX(100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

.forgot-password-container {
  background: linear-gradient(to bottom right , #2c3e50,#bdc3c7) !important;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  width: 30%;
  animation: slideIn 1s ease-out;
  
}

@media (max-width: 768px) {
  .forgot-password-page {
    padding-top: 20px; /* Adjust for mobile view */
  }

  .forgot-password-container {
    width: 90%;
  }
}

.forgot-password-heading {
  font-size: 1.5rem !important;
  font-weight: 700;
  margin-bottom: 10px;
  color: white !important;
  font-family: 'Lato';
  display: flex !important;
  justify-content: center;
}

.input-group-forget {
  
  flex-direction: column;
  
  gap: 10px !important;
}



.input-group-forget label {
  font-weight: bold;
  margin-bottom: 5px;
  font-family: 'Lato';
  color: white !important;

}

.input-group-forget input {
  border-radius: 6px !important;
  background-color: #f4f4f4 !important;
  color: #2C3E50 !important;
  padding: 12px;
  border: 1px solid #B0BEC5;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 15px !important;
  
}

.input-group-forget input:focus {
  
  outline: none !important;
  border-color: #009688 !important;
  background-color: white !important;
}

.reset-password-button {
  background-color:  #128b8b;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
  width: 50%; 
  justify-content: center;
  margin-left: 100px;
  font-family:Arial, Helvetica, sans-serif;
  
}

.reset-password-button:hover{
  background-color: #0f7272;
}

.forgot-link {
  color: black !important;
  margin-top: 20px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.forgot-question {
  color: black !important;
  font-family: 'Lato';
  font-size: 15px;
}

.forgot-link a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Lato';
  font-size: large;
}

.forgot-link a:hover {
  
    color: red;
}

@media (max-width: 768px) {
  .forgot-password-container {
    width: 90%; 
    padding: 10px;
  }

  .forgot-password-heading {
    font-size: 1.2rem;
  }

  .input-group label {
    font-size: 1rem;
  }

  .input-group input {
    font-size: 0.9rem;
  }

  .reset-password-button {
    font-size: 0.9rem;
  }
}